{% extends "pages/base.html" %}
{% block title %}Главная страница{% endblock %}

{% block content %}

<script>
    console.log('Success');


    let tg = window.Telegram.WebApp;
    {% set query_id = tg.initDataUnsafe.query_id %}
</script>
<div class="container">
    <br/>
    <div class="mt-3">
        <p>{{ heading }}</p>
    </div>
    <form action="/section/test?{{ query_id }}" method="POST">
    <button type="submit">Перенаправить</button>
        </form>
    <div class="row">
        {% for section in sections %}
        <div class="col mt-3">
            <a href="/section/{{ section['id'] }}?{{ query_id }}">
                <div class="card">
                    <img src="{{ section['image'] }}"
                         class="rounded mx-auto d-block" style="height: 100px; width: 140px">
                    <p class="card-title m-1">{{ section['title'] }}</p>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}