<script>
    console.log('Success');

    let tg = window.Telegram.WebApp;
    let query_id;
    try {
        query_id = tg.initDataUnsafe.query_id;
    } catch (error) {
        console.log('Error:', error);
        query_id = 'Test Mode';
    }
</script>
{% extends "pages/base.html" %}
{% block title %}Главная страница{% endblock %}
{% block content %}


<div class="container">
    <br/>
    <div class="mt-3">
        <p>{{ heading }}</p>
    </div>
    <button onclick="window.location.href='https://google.com'">Перенаправить</button>
    <div class="row">
        {% for section in sections %}
        <div class="col mt-3">
            <a href="/section/{{ section['id'] }}?{{ query_id }}">
                <div class="card">
                    <img src="{{ section['image'] }}"
                         class="rounded mx-auto d-block" style="height: 100px; width: 140px">
                    <p class="card-title m-1">{{ section['title'] }}</p>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}