{% extends "pages/base.html" %}
{% block title %}Разделы{% endblock %}
{% block content %}


<div class="container">
    <br/>
    <div class="row">
        {% for service in services %}
        <a href="/service/{{ service['id'] }}?{{query_id}}">
            <div class="card flex-row mt-3 p-0">
                <img style="width: 130px"
                     class="rounded float-left"
                     src="{{ service['image'] }}"/>
                <div class="card-body">
                    <h6 class="card-title h4-sm">{{ service['title'] }}</h6>
                    <p class="black-color" style="font-weight: bold"> {{ service['worked_at'] }} </p>
                    <p class="card-text black-color">{{ service['description'] }}</p>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}