{% extends "pages/base.html" %}
{% block title %}Разделы{% endblock %}
{% block content %}


<div class="container">
    <br/>
    <div class="row">
        {% for service in services %}
        <div class="mt-1 p-0 ml-1 mr-1" style="width: 98%">
            <form method="POST" action="/service/{{service['id']}}" id="form{{service['id']}}">
                <input name="query_id" hidden="true" value="{{query_id}}">
                <a style="text-decoration: none;" href="#"
                   onclick="document.getElementById('form{{service['id']}}').submit();">
                    <div class="card flex-row">
                        <img style="width: 35%; max-height: 80%;"
                             class="rounded float-left mt-2 ml-2 mb-2"
                             src="{{ service['image'] }}"/>
                        <div class="card-body mb-0" style="height: 50%;">
                            <h6 class="card-title mb-1">{{ service['title'] }}</h6>
                            <p class="black-color mb-2" style="font-weight: bold"> {{ service['worked_at'] }} </p>
                            <p class="card-text black-color">{{ service['description'] }}</p>
                        </div>
                    </div>
                </a>
            </form>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}