{% extends "pages/base.html" %}
{% block title %}Услуги{% endblock %}
{% block content %}


<div class="container">
    <br/>
    <div class="row">
        {% for item in items %}
        <div class="card flex-row mt-1 p-0 ml-1 mr-1" style="width: 98%">
            <img style="min-width: 40%; max-height: 80%;"
                 class="rounded float-left mt-3 ml-2"
                 src="{{ item['image'] }}"/>
            <div class="card-body mb-0" style="height: 50%;">
                <form method="post" action="/order">
                    <input hidden="true" name="query_id" value="{{query_id}}"></input>
                    <input hidden="true" name="title" value="{{item['title']}}"></input>
                    <input hidden="true" name="description" value="{{item['description']}}"></input>
                    <input hidden="true" name="price" value="{{item['price']}}"></input>
                    <h6 class="card-title" name="title{{item['id']}}">{{ item['title'] }}</h6>
                    <p class="card-text black-color m-0" name="description{{item['id']}}">{{ item['description'] }}</p>
                    <p class="orange-color m-0" style="font-weight: bold" name="price{{item['id']}}"> Цена: {{ item['price'] }} </p>
                    <button type="submit" class="btn btn-primary" style="height: 25px; min-width: 170px; font-size: 10px">Заказать</button>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}