{% block content %}





<!-- Модальное окно для удаления -->
<div class="modal fade" id="deleteModal{{ page['id'] }}" tabindex="-1"
     aria-labelledby="deleteModal{{ page['id'] }}Label">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Подтвердите удаление</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form action="/admin" method="POST">
                <div class="modal-body">

                    <input hidden="true" name="id" value="{{page['id']}}"></input>
                    <input hidden="true" name="method" value="delete-service"></input>
                    Вы уверены, что хотите удалить эту карточку?


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                    <button type="submit" class="btn btn-danger">Удалить</button>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}